# Environment secrets
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
.venv/
env/
.env/

# Database storage
postgres_data/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover

# OS metadata
.DS_Store
Thumbs.db
